
@media screen and (max-width:479px) {
	#scroll-box {
		position: relative;
    left:83px !important;
    width: 80px !important;
    height: 130px;
    top:-10px !important;
	}

}


#filler-box{
  position: relative;
  width: 268px;
  height:370px;
  background-color: #000;
  left: 135px;
  top: -300px;

}


#skew-filler-box{
	position: relative;
  width: 132px;
  height: 90px;
  background-color: #000;
  left: 200px;
  top: -343px;
  border-radius: 5px;
  overflow : hidden;

}


#scroll-box {
  position: relative;
  width: 104px;
  height: 140px;
  background-color: #fff;
  left: 144px;
  top: -400px;
  color: #ffffff;
  overflow : hidden;
}

.typer{
  color: #ffffff !important;
}


 #skew-filler-box > img, #scroll-box > img {
    position : absolute;
    top      : 0;
    left     : 0;
}


#agency-element{

  /* border: solid 2px #900; */
  animation: swingelement ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    /* box-shadow: 5px 5px 10px rgba(0,0,0,0.5); */

}


#agency-element:after{
    content: '';
    position: absolute;
    width: 20px; height: 20px;
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}


@keyframes swingelement {
  0% { transform: rotate(3deg); }
   100% { transform: rotate(-3deg); }

}


#agency-element:hover{
  animation-name: swingelement;
  animation-play-state: paused;
}



.rollelement {
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}
.rollelement:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
