
@media screen and (max-width:479px) {
	#scroll-box {
		position: relative;
    left:83px !important;
    width: 80px !important;
    height: 130px;
    top:-10px !important;
	}

}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
	#skew-filler-box{
		position: relative;
	  width: 75px !important;
	  height: 50px !important;
	  background-color: #000;
	  left: 101px !important;
	  top: -227px !important;
	  border-radius: 2px !important;
	  overflow : hidden;

	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	#skew-filler-box{
		position: relative;
		width: 90px !important;
		height: 55px !important;
		background-color: #000;
		left: 120px !important;
		top: -233px !important;
		border-radius: 2px !important;
		overflow : hidden;

	}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}


#filler-box{
  position: relative;
  width: 268px;
  height:370px;
  background-color: #000;
  left: 135px;
  top: -300px;

}


#skew-filler-box{
	position: relative;
  width: 130px;
  height: 85px;
  background-color: #000;
  left: 228px;
  top: -340px;
  border-radius: 5px;
  overflow : hidden;

}


#scroll-box {
  position: relative;
  width: 104px;
  height: 140px;
  background-color: #fff;
  left: 144px;
  top: -400px;
  color: #ffffff;
  overflow : hidden;
}

.typer{
  color: #ffffff !important;
}


 #skew-filler-box > img, #scroll-box > img {
    position : absolute;
    top      : 0;
    left     : 0;
}


#agency-element{

  /* border: solid 2px #900; */
  animation: swingelement ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    /* box-shadow: 5px 5px 10px rgba(0,0,0,0.5); */

}


#agency-element:after{
    content: '';
    position: absolute;
    width: 20px; height: 20px;
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}


@keyframes swingelement {
  0% { transform: rotate(3deg); }
   100% { transform: rotate(-3deg); }

}


#agency-element:hover{
  animation-name: swingelement;
  animation-play-state: paused;
}



.rollelement {
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}
.rollelement:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
