
.typer{
	color: #ffffff !important;
}


#skew-filler-box > img, #scroll-box > img {
	position : absolute;
	top      : 0;
	left     : 0;
	animation: bannermove 4s linear infinite ;
	animation-delay: 4s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
}

@keyframes bannermove {
	0% {
		margin-top: 0px;
	}

	100% {
		margin-top: -390px; /* container height - (no. of images - 1) * image height */
	}
}


#agency-element{

	/* border: solid 2px #900; */
	animation: swingelement ease-in-out 1s infinite alternate;
	transform-origin: center -20px;
	float:left;
	/* box-shadow: 5px 5px 10px rgba(0,0,0,0.5); */

}


#agency-element:after{
	content: '';
	position: absolute;
	width: 20px; height: 20px;
	border: 1px solid #999;
	top: -10px; left: 50%;
	z-index: 0;
	border-bottom: none;
	border-right: none;
	transform: rotate(45deg);
}


@keyframes swingelement {
	0% { transform: rotate(3deg); }
	100% { transform: rotate(-3deg); }

}


#agency-element:hover{
	animation-name: swingelement;
	animation-play-state: paused;
}



.rollelement {
	overflow: hidden;
	transition-duration: 0.8s;
	transition-property: transform;
}
.rollelement:hover {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}

.panel-group .panel {
	margin-bottom: 0;
	border-radius: 4px;
	background-color: transparent;
	border: none;
}

h4.panel-title {
	color: white;
	border: none;
}

div#headingOne,
div#headingTwo,
div#headingThree,
div#headingFour {
	background-color: transparent;
	border: none;
}

.panel-default >.panel-heading+.panel-collapse >.panel-body {
	border:none;
}

.panel-collapse>.panel-body

	/*-- header --*/
.jarallax {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
/*-- team --*/
.team{
	background:url(images/bg.jpg) no-repeat 0px 0px;
	background-size:cover;
}
.team-dot {
	background: url(images/dott.png)repeat 0px 0px;
	background-size: 2px;
	-webkit-background-size: 2px;
	-moz-background-size: 2px;
	-o-background-size: 2px;
	-ms-background-size: 2px;
}
.jarallax {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.team-heading h3{
	color:#FFFFFF;
	font-size:40px;
	text-align:center;
	margin:70px 0px;
}
.team-heading h4{
	color: rgba(255, 255, 255, 0.47);
}
.team-info{
	position: relative;
	overflow: hidden;
}
.team-info img{
	width:100%;
	border: 3px solid #efefef;
}
.team-caption h4{
	margin:0;
	color: #212121;
	font-size: 1em;
	text-transform: uppercase;
	line-height: 1.8em;
	font-weight: 800;
	letter-spacing: 1px;
}
.team-caption p{
	color: #FFFFFF;
	font-size: .9em;
	margin: 0;
}
.team-caption ul{
	padding: 0;
	margin: 1em 0 0 0;
}
.team-caption ul li{
	display: inline-block;
}
.team-caption ul li a {
	color: #333;
	text-align: center;
}
.team-caption ul li a i.fa.fa-facebook{
	height: 30px;
	width: 30px;
	line-height: 30px;
	border: solid 2px #FFF;
	background: none;
	color: #FFF;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.team-caption ul li a i.fa.fa-facebook:hover {
	background: #3b5998;
}
.team-caption ul li a i.fa.fa-twitter{
	height: 30px;
	width: 30px;
	line-height: 30px;
	border: solid 2px #FFF;
	background: none;
	color: #FFF;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.team-caption ul li a i.fa.fa-twitter:hover{
	background: #55acee;
}
.team-caption ul li a i.fa.fa-rss{
	height: 30px;
	width: 30px;
	line-height: 30px;
	border: solid 2px #FFF;
	background: none;
	color: #FFF;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.team-caption ul li a i.fa.fa-rss:hover{
	background: #f26522;
}
.team-caption {
	background: #A40000;
	padding: 1em;
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
	width: 100%;
	-webkit-transition: .5s all;
	transition: .5s all;
	-moz-transition: .5s all;
}
.team-info:hover .team-caption{
	background-color: transparent;
	top: 50%;
	transform: translate(0%, -50%);
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	bottom: auto;
}
.team-info:hover .team-caption h4{
	color:#FFFFFF;
}
.team-info:before {
	background-color: rgba(0,0,0,0.85);
	border: 3px solid #A40000;
	bottom: 0;
	content: "";
	display: inline-block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.team-info:hover:before {
	opacity: 1;
}
/*-- //team --*/

@media(max-width:414px){
	.team-dot{
		padding: 2em 0;
	}
	.agileits-team-grid {
		float: none;
		width: 100%;
	}
	.agileits-team-grid:nth-child(2){
		margin:2em 0 0 0;
	}
}
