/*Galaxy s5*/
@media only screen and (max-device-height: 640px) and (min-device-width: 360px) and (orientation : landscape){
    #scroll-box {
        position: relative;
        width: 266px;
        height: 148px;
        background-color: #fff;
        left: 122px;
        top: -578px;
        color: #ffffff;
        overflow: hidden;
    }
}

/* iphone 5/SE*/
@media only screen and (max-device-width: 320px) and (min-device-height: 568px)  and (orientation: portrait) {
    #scroll-box {
        position: relative;
        width: 126px;
        height: 76px;
        background-color: #fff;
        left: 50px;
        top: -279px;
        color: #ffffff;
        overflow: hidden;
    }
}

@media only screen and (max-device-width: 568px) and (min-device-height: 320px)  and (orientation: landscape) {
    #scroll-box {
        position: relative;
        width: 238px;
        height: 153px;
        background-color: #fff;
        left: 104px;
        top: -530px;
        color: #ffffff;
        overflow: hidden;
    }
}

/* iphone 5/SE*/
@media only screen and (min-device-width: 375px) and (max-device-height: 667px)  and (orientation: portrait) {
    #scroll-box {
        position: relative;
        width: 154px;
        height: 94px;
        background-color: #fff;
        left: 60px;
        top: -336px;
        color: #ffffff;
        overflow: hidden;
    }
}
@media only screen and (min-device-width: 375px) and (max-device-height: 667px)  and (orientation: portrait) {
    #scroll-box {
        position: relative;
        width: 154px;
        height: 94px;
        background-color: #fff;
        left: 60px;
        top: -336px;
        color: #ffffff;
        overflow: hidden;
    }
}

/* iphone 6/7/8*/
@media only screen and (min-device-width: 667px) and (max-device-height: 375px)  and (orientation: landscape) {
    #scroll-box {
        position: relative;
        width: 280px;
        height: 174px;
        background-color: #fff;
        left: 126px;
        top: -621px;
        color: #ffffff;
        overflow: hidden;
    }
}

@media only screen and (min-device-height: 667px) and (max-device-width: 375px)  and (orientation: portrait) {
    #scroll-box {
        position: relative;
        width: 154px;
        height: 94px;
        background-color: #fff;
        left: 60px;
        top: -336px;
        color: #ffffff;
        overflow: hidden;
    }
}

/* iphone 6/7/8 Plus*/
@media only screen and (min-device-width: 736px) and (max-device-height: 414px)  and (orientation: landscape) {
    #scroll-box {
        position: relative;
        width: 310px;
        height: 174px;
        background-color: #fff;
        left: 142px;
        top: -687px;
        color: #ffffff;
        overflow: hidden;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px)  and (orientation: portrait) {
    #scroll-box {
        position: relative;
        width: 170px;
        height: 106px;
        background-color: #fff;
        left: 69px;
        top: -374px;
        color: #ffffff;
        overflow: hidden;

    }
}

/* ipad */

@media only screen and (min-device-width: 768px) and (max-device-height: 1024px)  and (orientation: portrait) {
    #scroll-box {
        position: relative;
        width: 150px;
        height: 92px;
        background-color: #fff;
        left: 63px;
        top: -337px;
        color: #ffffff;
        overflow: hidden;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-height:768px)  and (orientation: landscape) {
    #scroll-box {
        position: relative;
        width: 203px;
        height: 110px;
        background-color: #fff;
        left: 83px;
        top: -445px;
        color: #ffffff;
        overflow: hidden;
    }
}

/*ipad pro*/
@media only screen and (min-device-width: 1024px) and (max-device-height:1366px)  and (orientation: portrait) {
    #scroll-box {
        position: relative;
        width: 200px;
        height: 115px;
        background-color: #fff;
        left: 85px;
        top: -440px;
        color: #ffffff;
        overflow: hidden;
    }
}

/* extra styles to handle breaks*/
@media  (min-width : 768px){
    #scroll-box {
        display: none;
    }
}